body {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #000;
  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
  }
}
